TOKEN_VLAD=y0__*************************************************
TOKEN_ELVIR=y0__*************************************************
TOKEN_MAKAR=y0__*************************************************
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=https://0.0.0.0:7289;http://0.0.0.0:5123
HTTPS_PORT=7289
ASPNETCORE_Kestrel__Certificates__Default__Path=certs/synchronous-player.pfx
ASPNETCORE_Kestrel__Certificates__Default__Password=change-me
